#game{
    margin: 70px 120px;
    float: left;
    display: grid;
    grid-template-rows: repeat(30,20px);
    grid-template-columns: repeat(30,20px);
}
.field{
    background-color: aquamarine;
    width: 20px;
    height: 20px;
}
.snake{
    background-color: green;
    width: 18px;
    width: 18px;
    margin: 1px;
}
.snake-head{
    background-color: red;
}
.food{
    background-color: red;
   
}
#score{
    margin: 70px ;
    float: right;
    width: 150px;
    padding: 15px;
    font-size: 35px;
}
h1{
    text-align: center;
    margin-bottom: 0;
    font-size: 50px;
    color: green;
}